@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(218, 240, 234);
    color: rgb(32, 30, 30)
}

#box1 {
    border: 1px solid grey;
    padding: 50px;
    margin: 100px auto 100px auto;

    background-color: white;
    box-shadow: violet;
    width: 300px;
    border-radius: 3px;
}


input {
    width: 250px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(119, 231, 194);
    padding: 10px;
    border: .5px solid grey;
}

#submit {
    color: rgb(5, 5, 5);
    font-weight: normal;
    margin-top: 20px;
    width: 272px;
    padding: 10px;
    text-align: center;
    border: .5px solid grey;
    margin-left: 0px;
    background-color: rgb(207, 230, 222);
}



#id2 {
    font-size: 15px;
    margin-top: 40px;
    text-align: center;
}

a:link {
    color: white;
    text-decoration: none;
    background-color: rgb(119, 231, 194);
    padding: 10px;
    border-radius: 5px;
}


a:hover {
    color: black;
    text-decoration: underline;
    background-color: rgb(153, 238, 224);
}


#submit:hover {
    background-color: rgb(119, 231, 194)
}




hr {
    background-color: black;
    color: black;
}

#heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.error,.invalid-email {
    display: none;
    color: red;
}