body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gray;
    color: silver
}

#box1 {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    border: 1px solid black;
    padding: 50px;
    margin: 100px 20%;
    height: 300px;
    background-color: black;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    width: 200px;
    height: 25px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 20px;
    color: rgb(122, 7, 7);
    height: 30px;
}

label {
    font-size: 18px;
}

#submit {
    color: rgb(5, 5, 5);
    font-weight: bold;
    margin-top: 10px;
}

#id3 {
    width: 20%;
    background-color: white;
    height: 100%;
}

#id2 {
    font-size: 25px;
    margin-left: 30px;
}

.error,.invalid-email{
    display: none;
}
a:link {
    color: white;
    text-decoration: none;
    background-color: rgb(122, 7, 7);
    padding: 10px;
    border-radius: 25px;
}

a:visited {
    color: #f3efec;
}
a:hover {
    color: rgb(122, 7, 7);
    text-decoration: underline;
    background-color: silver;
}

#h1_register {
    color: black;
    text-align: center;
    margin-top: 10px;
}

#submit:hover {
    background-color: rgb(122, 7, 7);
    height: 35px;
}

#id4 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 85%;
}

#id4 > div {
    margin: 0px 10px;
}

hr {
    background-color: black;
    color: black;
}